@media (min-width:576px) {
 .header-menu-box {
  display: flex;
  justify-content:center;
   align-items: center;
   width: 6vw;
   height: 100%;
   background-color:aqua;
   padding: 0;
 }
 .header-serch-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 100%;
  background-color: #ff4a52;
  padding: 0;
 }
 /* .header-serch-box i{
   margin-top: 2.5vw;
   margin-left: 2.9vw;
 } */
 .header-boxes{
  padding:0;
  flex-direction: row;
 }


 .header-serch-box i{
  color:#fff;
 }
}
@media (min-width:758px) {

}
@media (min-width:992px) {
 .header-nav{
  display: flex;
 }
 .header-menu-box{
   display:none;
 }
/* ....................search menu in main................................. */
.main-form {
  flex-direction:row;
  height: 9vw;
  justify-content: space-around;
  align-items: center;
}
.form {
   flex-direction:row;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}
input {
  width: 17vw;
}
.search-btn {
  width: 10vw;
}
/* ........................end of the search menu........................... */
 .subscribe-bar{
   flex-direction:row;
 }
 .subscribe-bar-title{
align-items: space-evenly;
margin-left: 50px;
 }
 .subscribe-bar-form{
   flex-direction:row;
   margin-right: 50px;
 }
 .subscribe-bar-form input{
   width:450px;
    height:40px;
 }
 .subscribe-bar-form-btn{
   width:120px;
   height:40px;
   margin-left: 5px;
 }
}
@media (min-width:1200px) {
 .header-serch-box{
  width:7vw;
 }
}
